:root {
    --body-color: #fff;
    --main-color: #fff;
    --main-heading-and-span-color: green;
    --input-color: #fff;
    --text-color: #000;
    --header-color: #fff;
    --secondary-color: lightgreen;
}

.darkmode {
    --body-color: hsl(0, 0%, 20%);
    --main-color: hsl(0, 0%, 15%);
    --main-heading-and-span-color: lightgreen;
    --input-color: hsl(0, 0%,20%);
    --text-color: #fff;
    --header-color: hsl(0, 0%, 15%);
    --secondary-color: lightgreen;
    --caret-color: #fff;
}

* {
    margin: 0;
}

body {
    background-color: var(--body-color);
    color: var(--text-color);
    transition: 0.3s;
}

#top-menu-container {
    width: 100%;
    height: 50px;
    margin: 0 auto;
    transition: 0.3s;
}

#top-menu {
    position: fixed;
    width: 100%;
    height: 50px;
    box-shadow: 0 0 5px #000;
    background-color: var(--header-color);
}

#logo-and-name-box {
    display: flex;
    width: fit-content;
}

#logo {
    margin-top: 5px;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    border: 0;
    border-radius: 20px;
    object-fit: cover;
}

#college-name {
    margin-top: 15px;
    margin-left: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 14px;
    font-weight: bold;
    cursor: default;
    color: var(--text-color);
}

#signin-btn {
    float: right;
    width: 100px;
    height: 35px;
    border: none;
    border-radius: 50px;
    background-color: var(--secondary-color);
    margin-right: 10px;
    margin-top: 7px;
    cursor: pointer;
}

button#theme {
    float: right;
    width: 50px;
    height: 30px;
    display: flex;
    margin-right: 10px;
    margin-top: 10px;
    border: 0;
    border-radius: 15px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
}

svg {
    fill: #000;
}

button#theme svg:last-child {
    display: none;
}

.darkmode button#theme svg:last-child {
    display: block;
}

.darkmode button#theme svg:first-child {
    display: none;
}

#main {
    width: 800px;
    height: 520px;
    margin-top: 9vh;
    padding-top: 30px;
    justify-self: center;
    justify-content: center;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    transition: 0.3s;
    border-radius: 10px;
    box-shadow: 0 0 3px #000;
    background-color: var(--main-color);
}

h2 {
    margin-left: 50px;
    color: var(--main-heading-and-span-color);
    cursor: default;
}

p {
    margin-left: 50px;
    font-size: 13px;
    color: var(--main-heading-and-span-color);
    cursor: default;
    margin-bottom: 30px;
}

label[for = firstname] {
    margin-left: 70px;
}

#firstname {
    width: 270px;
    height: 40px;
    margin-top: 10px;
    margin-left: 73px;
    padding-left: 10px;
    outline: none;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 0 2px #000;
    background-color: var(--input-color);
    caret-color: var(--caret-color);
    color: var(--text-color);
}

label[for = lastname] {
    float: right;
    margin-top: -20px;
    margin-right: 292px;
}

#lastname {
    float: right;
    width: 270px;
    height: 40px;
    margin-top: -42px;
    margin-right: 73px;
    padding-left: 10px;
    outline: none;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 0 2px #000;
    background-color: var(--input-color);
    caret-color: var(--caret-color);
    color: var(--text-color);
}

label[for = dateofbirth] {
    margin-left: 70px;
}

#dateofbirth {
    width: 270px;
    height: 40px;
    margin-top: 10px;
    margin-left: 73px;
    padding-left: 10px;
    outline: none;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 0 2px #000;
    background-color: var(--input-color);
    caret-color: var(--caret-color);
    color: var(--text-color);
}

label[for = gender] {
    float: right;
    margin-top: -20px;
    margin-right: 310px;
}

#gender {
    float: right;
    width: 283px;
    height: 40px;
    margin-top: 10px;
    margin-right: 73px;
    padding-left: 10px;
    outline: none;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 0 2px #000;
    background-color: var(--input-color);
    color: var(--text-color);
}

label[for = reg-no] {
    margin-left: 70px;
}

#reg-no {
    width: 270px;
    height: 40px;
    margin-top: 10px;
    margin-left: 73px;
    padding-left: 10px;
    outline: none;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 0 2px #000;
    background-color: var(--input-color);
    caret-color: var(--caret-color);
    color: var(--text-color);
}

label[for = email] {
    float: right;
    margin-top: -20px;
    margin-right: 262px;
}

#email {
    float: right;
    width: 270px;
    height: 40px;
    margin-top: -42px;
    margin-right: 73px;
    padding-left: 10px;
    outline: none;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 0 2px #000;
    background-color: var(--input-color);
    caret-color: var(--caret-color);
    color: var(--text-color);
}

label[for = departments] {
    margin-left: 70px;
}

#departments {
    width: 283px;
    height: 40px;
    margin-top: 10px;
    margin-left: 73px;
    padding-left: 10px;
    outline: none;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 0 2px #000;
    background-color: var(--input-color);
    color: var(--text-color);
}

label[for = level] {
    float: right;
    margin-top: -20px;
    margin-right: 322px;
}

#level {
    float: right;
    width: 283px;
    height: 40px;
    margin-top: -42px;
    margin-right: 73px;
    padding-left: 10px;
    outline: none;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 0 2px #000;
    background-color: var(--input-color);
    color: var(--text-color);
}

#login-link {
    margin-left: 80px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 13px;
    text-decoration: none;
    color: green;
}

#submit {
    float: right;
    margin-right: 20px;
    width: 150px;
    height: 40px;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    background-color: var(--secondary-color);
    box-shadow: 0 0 2px #000;
}

footer {
    margin-top: 30px;
    margin-left: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 14px;
    font-style: italic;
}